
body{
    background: #E5E5E5;
}
a{
    text-decoration: none;
}
.main{
    position: relative;
    width: 1600px;
    height: 1200px;
    top:600px;
    left:800px;
    background: rgba(235, 252, 244, 0.42);

}

.mainn{
    position: absolute;
width: 1064.38px;
height: 756.89px;
margin-left: 268px;
margin-top: 222px;

background: #EBFCF4;

}
.first{
position: absolute;
width: 532.19px;
/* height: 764.28px; */
height:757px;
left: 0px;
top: 0px;

background: #FFFFFF;
border-radius: 0px 51.7405px 51.7405px 0px;
}
.logo{

    position: absolute;
    width: 82.78px;
    height: 73.91px;
    left: 30.31px;
    top: 25.13px;
    background: url(.png);
}
.belle{
    position: absolute;
/* width: 111.61px;
height: 56.91px;*/

left: 137.48px;
top: 34px; color:rgba(11.000000294297934, 70.00000342726707, 84.00000259280205, 1);
	width:111.6115493774414px;
	height:56.91449737548828px;
	font-family:Athiti;
	text-align:left;
	font-size:35.479164123535156px;
	letter-spacing:0;

}
.create{

    position: absolute;
    width: 200.31px;
    height: 47.31px;
    left: 101.26px;
    top: 168.53px;
    
    font-family: 'Athiti';
    font-style: normal;
    font-weight: 600;
    font-size: 29.566px;
    line-height: 47px;
    /* identical to box height */
    
    
    color: #0B4654;
    
    }
.input{
    
box-sizing: border-box;

position: absolute;
width: 328.92px;
height: 41.39px;
left: 101.26px;
top: 232.09px;

border: 1.4783px solid rgba(11, 70, 84, 0.25);
border-radius: 5.91319px;

text-align:left;
vertical-align:text-top;
font-size:11.82638931274414px;
font-family:Athiti;


}
.inputt{
    
box-sizing: border-box;

position: absolute;
width: 328.92px;
height: 41.39px;
left: 101.26px;
top: 291.22px;

border: 1.4783px solid rgba(11, 70, 84, 0.25);
border-radius: 5.91319px;

text-align:left;
vertical-align:text-top;
font-size:11.82638931274414px;
font-family:Athiti;

}
.inputtt{
    
box-sizing: border-box;

position: absolute;
width: 328.92px;
height: 41.39px;
left: 101.26px;
top: 350.36px;

border: 1.4783px solid rgba(11, 70, 84, 0.25);
border-radius: 5.91319px;

text-align:left;
vertical-align:text-top;
font-size:11.82638931274414px;
font-family:Athiti;

}
.check{
    
box-sizing: border-box;

position: absolute;
width: 17.74px;
height: 17.74px;
left: 101.26px;
top: 405.79px;

border: 0.739149px solid rgba(11, 70, 84, 0.24);
border-radius: 2.9566px;
}
.label{
    
position: absolute;
width: 152px;
height: 19px;
left: 129.35px;
top: 405.05px;

font-family: 'Athiti';
font-style: normal;
font-weight: 400;
font-size: 11.8264px;
line-height: 19px;
/* identical to box height */


color: rgba(0, 0, 0, 0.5);

}
.submit{
    
position: absolute;
width: 328.92px;
height: 41.39px;
left: 101.26px;
top: 463.45px;
border:none;
background: #07B464;
box-shadow: 0px 2.9566px 2.9566px rgba(0, 0, 0, 0.25), inset 0px 1.4783px 2.9566px rgba(255, 255, 255, 0.25), inset 0px -1.4783px 2.9566px rgba(0, 0, 0, 0.25);
border-radius: 11.8264px;
}

/*  */
.object
{
width:489.1434020996094px;
height:459.3276062011719px;
position: absolute;
left: 52.34%;
right: 1.7%;
top: 21.48%;
bottom: 17.83%;

}
.group
{
width:489.1434020996094px;
height:459.3276062011719px;
position:absolute;
}
.vector
{
width:370.70562744140625px;
height:318.8628234863281px;
left:43.79951095581055px;
top:115.55281066894531px;
position:absolute;

}
.vector2
{
width:81.22451782226562px;
height:128.04344177246094px;
left:52.51759719848633px;
top:142.33160400390625px;
position:absolute;
}
.vector3
{
width:136.34434509277344px;
height:69.31609344482422px;
left:1.9304474592208862px;
top:371.1833190917969px;
position:absolute;
}
.vector4
{
width:87.90953826904297px;
height:121.97820281982422px;
left:373.7064208984375px;
top:162.8090057373047px;
position:absolute;
}
.vector5
{
width:87.9095230102539px;
height:121.97825622558594px;
left:365.1505432128906px;
top:307.01202392578125px;
position:absolute;
}
.group2
{
width:114.15198516845703px;
height:278.084716796875px;
left:213.53919982910156px;
top:133.85369873046875px;
position:absolute;
}
.vector6
{
width:50.55681610107422px;
height:61.354122161865234px;
left:771.61px;
top:425.56px;
width:50.55681610107422px;
height:61.354122161865234px;
position:absolute;
}
.vector7
{
width:114.15198516845703px;
height:278.084716796875px;
left:770.64px;
top:296.46px;
width:114.15198516845703px;
height:278.084716796875px;
position:absolute;
}
.group3
{
width:115.22620391845703px;
height:174.45233154296875px;
left:319.0964050292969px;
top:255.05809020996094px;
position:absolute;
}
.vector8
{
width:16.715702056884766px;
height:45.126712799072266px;
left:935.48px;
top:421.81px;
width:16.715702056884766px;
height:45.126712799072266px;
position:absolute;
}
.vector9
{
width:115.22620391845703px;
height:174.45233154296875px;
left:876.2px;
top:417.67px;
width:115.22620391845703px;
height:174.45233154296875px;
position:absolute;
}
.group4
{
width:133.43051147460938px;
height:222.83184814453125px;
left:40.6928825378418px;
top:209.27432250976562px;
position:absolute;
}
.vector10
{
width:20.008686065673828px;
height:54.871665954589844px;
left:648.31px;
top:382.53px;
width:20.008686065673828px;
height:54.871665954589844px;
position:absolute;
}
.vector11
{
width:133.43051147460938px;
height:222.83184814453125px;
left:597.8px;
top:371.88px;
width:133.43051147460938px;
height:222.83184814453125px;
position:absolute;
}
.group5
{
width:60.4744873046875px;
height:137.3406982421875px;
left:-550.12px;
top:-119.35px;
position:absolute;
}
.group6
{
width:22.74049186706543px;
height:96.8431625366211px;
left:742.59px;
top:469.76px;
position:absolute;
}
.vector12
{
width:22.74049186706543px;
height:96.8431625366211px;
left:742.59px;
top:469.76px;
width:22.74049186706543px;
height:96.8431625366211px;
position:absolute;
}
.vector13
{
width:16.500621795654297px;
height:30.233552932739258px;
left:731.28px;
top:440.93px;
position:absolute;
}
.vector14
{
width:11.609323501586914px;
height:43.04177474975586px;
left:737.57px;
top:429.26px;
position:absolute;
}
.vector15
{
width:19.826499938964844px;
height:35.42467498779297px;
left:725.62px;
top:451.18px;
position:absolute;
}
.vector16
{
width:10.170251846313477px;
height:41.476627349853516px;
left:745.18px;
top:445.52px;
position:absolute;
}
.vector17
{
width:20.435909271240234px;
height:41.39836883544922px;
left:742.94px;
top:458.82px;
position:absolute;
}
.vector18
{
width:19.9818115234375px;
height:34.6421012878418px;
left:723.98px;
top:466.18px;
position:absolute;
}
.vector19
{
width:25.955480575561523px;
height:19.616607666015625px;
left:717.32px;
top:492.55px;
position:absolute;
}
.vector20
{
width:19.694866180419922px;
height:30.807497024536133px;
left:723.56px;
top:479.69px;
position:absolute;
}
.vector21
{
width:23.033870697021484px;
height:28.433677673339844px;
left:743.17px;
top:484.7px;
position:absolute;
}
.vector22
{
width:31.92916488647461px;
height:24.83377456665039px;
left:713.98px;
top:501.24px;
position:absolute;
}
.vector23
{
width:22.225862503051758px;
height:34.12037658691406px;
left:746.02px;
top:492.03px;
position:absolute;
}
.vector24
{
width:33.85951232910156px;
height:23.39910125732422px;
left:716.12px;
top:512.92px;
position:absolute;
}
.vector25
{
width:22.98168182373047px;
height:33.20737838745117px;
left:749.83px;
top:503.11px;
position:absolute;
}
.vector26
{
width:35.92030715942383px;
height:20.477439880371094px;
left:721.03px;
top:531.1px;
position:absolute;
}
.vector27
{
width:17.996849060058594px;
height:37.01591873168945px;
left:756.46px;
top:514.85px;
position:absolute;
}
.group7
{
width:72.12826538085938px;
height:158.1259765625px;
top:-145px;
left:-690px;
position:absolute;
}
.group8
{
width:16.30061912536621px;
height:112.0953140258789px;
left:781.83px;
top:464.31px;
position:absolute;
}
.vector28
{
width:16.30061912536621px;
height:112.0953140258789px;
left:781.83px;
top:464.31px;
width:16.30061912536621px;
height:112.0953140258789px;
position:absolute;
}
.group9
{
width:17.41393280029297px;
height:47.89373016357422px;
left:766.03px;
top:418.28px;
position:absolute;
}
.vector29
{
width:17.41393280029297px;
height:47.89373016357422px;
left:766.03px;
top:418.28px;
width:17.41393280029297px;
height:47.89373016357422px;
position:absolute;
}
.group10
{
width:15.189800262451172px;
height:40.43315887451172px;
left:785.93px;
top:438.19px;
position:absolute;
}
.vector30
{
width:15.189800262451172px;
height:40.43315887451172px;
left:785.93px;
top:438.19px;
width:15.189800262451172px;
height:40.43315887451172px;
position:absolute;
}
.group11
{
width:25.068578720092773px;
height:31.407451629638672px;
left:788.72px;
top:456.55px;
position:absolute;
}
.vector31
{
width:25.068578720092773px;
height:31.407451629638672px;
left:788.72px;
top:456.55px;
width:25.068578720092773px;
height:31.407451629638672px;
position:absolute;
}
.group12
{
width:30.285764694213867px;
height:19.381853103637695px;
left:790.26px;
top:475.36px;
position:absolute;
}
.vector32
{
width:30.285764694213867px;
height:19.381853103637695px;
left:790.26px;
top:475.36px;
width:30.285764694213867px;
height:19.381853103637695px;
position:absolute;
}
.group13
{
width:29.50311851501465px;
height:8.991243362426758px;
left:791.43px;
top:491.07px;
position:absolute;
}
.vector33
{
width:29.50311851501465px;
height:8.991243362426758px;
left:791.43px;
top:491.07px;
width:29.50311851501465px;
height:8.991243362426758px;
position:absolute;
}
.group14
{
width:33.650821685791016px;
height:9.114163398742676px;
left:792.03px;
top:498.48px;
position:absolute;
}
.vector34
{
width:33.650821685791016px;
height:9.114163398742676px;
left:792.03px;
top:498.48px;
width:33.650821685791016px;
height:9.114163398742676px;
position:absolute;
}
.group15
{
width:34.146419525146484px;
height:8.459776878356934px;
left:793.42px;
top:509.41px;
position:absolute;
}
.vector35
{
width:34.146419525146484px;
height:8.459776878356934px;
left:793.42px;
top:509.41px;
width:34.146419525146484px;
height:8.459776878356934px;
position:absolute;
}
.group16
{
width:26.05983543395996px;
height:15.834136009216309px;
left:794.3px;
top:515.64px;
position:absolute;
}
.vector36
{
width:26.05983543395996px;
height:15.834136009216309px;
left:794.3px;
top:515.64px;
width:26.05983543395996px;
height:15.834136009216309px;
position:absolute;
}
.group17
{
width:18.52096939086914px;
height:17.0601749420166px;
left:795.11px;
top:521.48px;
position:absolute;
}
.vector37
{
width:18.52096939086914px;
height:17.0601749420166px;
left:795.11px;
top:521.48px;
width:18.52096939086914px;
height:17.0601749420166px;
position:absolute;
}
.group18
{
width:11.321260452270508px;
height:16.434120178222656px;
left:795.69px;
top:525.86px;
position:absolute;
}
.vector38
{
width:11.321260452270508px;
height:16.434120178222656px;
left:795.69px;
top:525.86px;
width:11.321260452270508px;
height:16.434120178222656px;
position:absolute;
}
.group19
{
width:28.355390548706055px;
height:34.87688446044922px;
left:757.86px;
top:443.87px;
position:absolute;
}
.vector39
{
width:28.355390548706055px;
height:34.87688446044922px;
left:757.86px;
top:443.87px;
width:28.355390548706055px;
height:34.87688446044922px;
position:absolute;
}
.group20
{
width:32.033485412597656px;
height:25.981550216674805px;
left:756.61px;
top:461.87px;
position:absolute;
}
.vector40
{
width:32.033485412597656px;
height:25.981550216674805px;
left:756.61px;
top:461.87px;
width:32.033485412597656px;
height:25.981550216674805px;
position:absolute;
}
.group21
{
width:33.833457946777344px;
height:22.251298904418945px;
left:757.55px;
top:478.2px;
position:absolute;
}
.vector41
{
width:33.833457946777344px;
height:22.251298904418945px;
left:757.55px;
top:478.2px;
width:33.833457946777344px;
height:22.251298904418945px;
position:absolute;
}
.group22
{
width:30.990079879760742px;
height:18.7297306060791px;
left:761.96px;
top:491.25px;
position:absolute;
}
.vector42
{
width:30.990079879760742px;
height:18.7297306060791px;
left:761.96px;
top:491.25px;
width:30.990079879760742px;
height:18.7297306060791px;
position:absolute;
}
.group23
{
width:38.37240982055664px;
height:18.677513122558594px;
left:755.43px;
top:497.98px;
position:absolute;
}
.vector43
{
width:38.37240982055664px;
height:18.677513122558594px;
left:755.43px;
top:497.98px;
width:38.37240982055664px;
height:18.677513122558594px;
position:absolute;
}
.group24
{
width:27.54669952392578px;
height:5.925752639770508px;
left:766.29px;
top:516.17px;
position:absolute;
}
.vector44
{
width:27.54669952392578px;
height:5.925752639770508px;
left:766.29px;
top:516.17px;
width:27.54669952392578px;
height:5.925752639770508px;
position:absolute;
}
.group25
{
width:21.625219345092773px;
height:17.76453971862793px;
left:773.02px;
top:521.3px;
position:absolute;
}
.vector45
{
width:21.625219345092773px;
height:17.76453971862793px;
left:773.02px;
top:521.3px;
width:21.625219345092773px;
height:17.76453971862793px;
position:absolute;
}
.group26
{
width:14.842854499816895px;
height:25.40768814086914px;
left:780.22px;
top:524.4px;
position:absolute;
}
.vector46
{
width:14.842854499816895px;
height:25.40768814086914px;
left:780.22px;
top:524.4px;
width:14.842854499816895px;
height:25.40768814086914px;
position:absolute;
}
.vector47
{
width:377.6717834472656px;
height:12.364709854125977px;
left:81px;
top:450.57px;
position:absolute;
}
.group27
{
width:66.38851165771484px;
height:92.45706939697266px;
top:-178px;
left:-514px;
position:absolute;
}
.group28
{
width:40.22811508178711px;
height:67.76580810546875px;
left:914.21px;
top:539.28px;
position:absolute;
}
.vector48
{
width:40.22811508178711px;
height:67.76580810546875px;
left:914.21px;
top:539.28px;
width:40.22811508178711px;
height:67.76580810546875px;
position:absolute;
}
.group29
{
width:23.842540740966797px;
height:25.877197265625px;
left:953.53px;
top:514.59px;
position:absolute;
}
.vector49
{
width:23.842540740966797px;
height:25.877197265625px;
left:953.53px;
top:514.59px;
width:23.842540740966797px;
height:25.877197265625px;
position:absolute;
}
.group30
{
width:5.866695404052734px;
height:29.868379592895508px;
left:946.62px;
top:517.46px;
position:absolute;
}
.vector50
{
width:5.866695404052734px;
height:29.868379592895508px;
left:946.62px;
top:517.46px;
width:5.866695404052734px;
height:29.868379592895508px;
position:absolute;
}
.group31
{
width:7.928107738494873px;
height:27.025001525878906px;
left:936.14px;
top:525.55px;
position:absolute;
}
.vector51
{
width:7.928107738494873px;
height:27.025001525878906px;
left:936.14px;
top:525.55px;
width:7.928107738494873px;
height:27.025001525878906px;
position:absolute;
}
.group32
{
width:13.825576782226562px;
height:20.816577911376953px;
left:926.82px;
top:535.59px;
position:absolute;
}
.vector52
{
width:13.825576782226562px;
height:20.816577911376953px;
left:926.82px;
top:535.59px;
width:13.825576782226562px;
height:20.816577911376953px;
position:absolute;
}
.group33
{
width:16.61671257019043px;
height:13.616843223571777px;
left:922.05px;
top:545.71px;
position:absolute;
}
.vector53
{
width:16.61671257019043px;
height:13.616843223571777px;
left:922.05px;
top:545.71px;
width:16.61671257019043px;
height:13.616843223571777px;
position:absolute;
}
.group34
{
width:19.903522491455078px;
height:13.488476753234863px;
left:916.83px;
top:549.23px;
position:absolute;
}
.vector54
{
width:19.903522491455078px;
height:13.488476753234863px;
left:916.83px;
top:549.23px;
width:19.903522491455078px;
height:13.488476753234863px;
position:absolute;
}
.group35
{
width:23.320842742919922px;
height:7.66636848449707px;
left:910.99px;
top:558.99px;
position:absolute;
}
.vector55
{
width:23.320842742919922px;
height:7.66636848449707px;
left:910.99px;
top:558.99px;
width:23.320842742919922px;
height:7.66636848449707px;
position:absolute;
}
.group36
{
width:20.816524505615234px;
height:4.282395839691162px;
left:911.09px;
top:567.91px;
position:absolute;
}
.vector56
{
width:20.816524505615234px;
height:4.282395839691162px;
left:911.09px;
top:567.91px;
width:20.816524505615234px;
height:4.282395839691162px;
position:absolute;
}
.group37
{
width:16.590665817260742px;
height:5.608516216278076px;
left:913.39px;
top:572.11px;
position:absolute;
}
.vector57
{
width:16.590665817260742px;
height:5.608516216278076px;
left:913.39px;
top:572.11px;
width:16.590665817260742px;
height:5.608516216278076px;
position:absolute;
}
.group38
{
width:11.843010902404785px;
height:7.328300952911377px;
left:916.52px;
top:574.75px;
position:absolute;
}
.vector58
{
width:11.843010902404785px;
height:7.328300952911377px;
left:916.52px;
top:574.75px;
width:11.843010902404785px;
height:7.328300952911377px;
position:absolute;
}
.group39
{
width:27.8597412109375px;
height:14.1907320022583px;
left:947.71px;
top:533.27px;
position:absolute;
}
.vector59
{
width:27.8597412109375px;
height:14.1907320022583px;
left:947.71px;
top:533.27px;
width:27.8597412109375px;
height:14.1907320022583px;
position:absolute;
}
.group40
{
width:27.729312896728516px;
height:8.388766288757324px;
left:943.57px;
top:545.05px;
position:absolute;
}
.vector60
{
width:27.729312896728516px;
height:8.388766288757324px;
left:943.57px;
top:545.05px;
width:27.729312896728516px;
height:8.388766288757324px;
position:absolute;
}
.group41
{
width:27.807598114013672px;
height:5.272256374359131px;
left:938.27px;
top:554.47px;
position:absolute;
}
.vector61
{
width:27.807598114013672px;
height:5.272256374359131px;
left:938.27px;
top:554.47px;
width:27.807598114013672px;
height:5.272256374359131px;
position:absolute;
}
.group42
{
width:24.938129425048828px;
height:4.043242454528809px;
left:934.62px;
top:561.55px;
position:absolute;
}
.vector62
{
width:24.938129425048828px;
height:4.043242454528809px;
left:934.62px;
top:561.55px;
width:24.938129425048828px;
height:4.043242454528809px;
position:absolute;
}
.group43
{
width:29.685754776000977px;
height:3.8501229286193848px;
left:932.14px;
top:566.92px;
position:absolute;
}
.vector63
{
width:29.685754776000977px;
height:3.8501229286193848px;
left:932.14px;
top:566.92px;
width:29.685754776000977px;
height:3.8501229286193848px;
position:absolute;
}
.group44
{
width:17.607995986938477px;
height:8.164870262145996px;
left:931.31px;
top:570.65px;
position:absolute;
}
.vector64
{
width:17.607995986938477px;
height:8.164870262145996px;
left:931.31px;
top:570.65px;
width:17.607995986938477px;
height:8.164870262145996px;
position:absolute;
}
.group45
{
width:8.859875679016113px;
height:17.268909454345703px;
left:930.26px;
top:572.27px;
position:absolute;
}
.vector65
{
width:8.859875679016113px;
height:17.268909454345703px;
left:930.26px;
top:572.27px;
width:8.859875679016113px;
height:17.268909454345703px;
position:absolute;
}
.group46
{
width:3.8462064266204834px;
height:20.112207412719727px;
left:928.46px;
top:574.2px;
position:absolute;
}
.vector66
{
width:3.8462064266204834px;
height:20.112207412719727px;
left:928.46px;
top:574.2px;
width:3.8462064266204834px;
height:20.112207412719727px;
position:absolute;
}
.group47
{
width:81.30952453613281px;
height:161.05252075195312px;
top:-154px;
left:-510px;
position:absolute;
}
.group48
{
width:28.558658599853516px;
height:115.13444519042969px;
left:864.85px;
top:483.4px;
position:absolute;
}
.vector67
{
width:28.558658599853516px;
height:115.13444519042969px;
left:864.85px;
top:483.4px;
width:28.558658599853516px;
height:115.13444519042969px;
position:absolute;
}
.group49
{
width:22.853775024414062px;
height:47.89373016357422px;
left:892.31px;
top:437.48px;
position:absolute;
}
.vector68
{
width:22.853775024414062px;
height:47.89373016357422px;
left:892.31px;
top:437.48px;
width:22.853775024414062px;
height:47.89373016357422px;
position:absolute;
}
.group50
{
width:11.72540283203125px;
height:43.876522064208984px;
left:876.38px;
top:453.99px;
position:absolute;
}
.vector69
{
width:11.72540283203125px;
height:43.876522064208984px;
left:876.38px;
top:453.99px;
width:11.72540283203125px;
height:43.876522064208984px;
position:absolute;
}
.group51
{
width:22.251298904418945px;
height:35.73768997192383px;
left:861.14px;
top:471.52px;
position:absolute;
}
.vector70
{
width:22.251298904418945px;
height:35.73768997192383px;
left:861.14px;
top:471.52px;
width:22.251298904418945px;
height:35.73768997192383px;
position:absolute;
}
.group52
{
width:29.190135955810547px;
height:23.842512130737305px;
left:851.8px;
top:490.25px;
position:absolute;
}
.vector71
{
width:29.190135955810547px;
height:23.842512130737305px;
left:851.8px;
top:490.25px;
width:29.190135955810547px;
height:23.842512130737305px;
position:absolute;
}
.group53
{
width:29.764047622680664px;
height:12.488698959350586px;
left:849.47px;
top:506.93px;
position:absolute;
}
.vector72
{
width:29.764047622680664px;
height:12.488698959350586px;
left:849.47px;
top:506.93px;
width:29.764047622680664px;
height:12.488698959350586px;
position:absolute;
}
.group54
{
width:34.38125228881836px;
height:12.170243263244629px;
left:843.55px;
top:514.26px;
position:absolute;
}
.vector73
{
width:34.38125228881836px;
height:12.170243263244629px;
left:843.55px;
top:514.26px;
width:34.38125228881836px;
height:12.170243263244629px;
position:absolute;
}
.group55
{
width:36.23329544067383px;
height:8.152406692504883px;
left:839.59px;
top:527.47px;
position:absolute;
}
.vector74
{
width:36.23329544067383px;
height:8.152406692504883px;
left:839.59px;
top:527.47px;
width:36.23329544067383px;
height:8.152406692504883px;
position:absolute;
}
.group56
{
width:28.87714195251465px;
height:13.329872131347656px;
left:845.14px;
top:535.36px;
position:absolute;
}
.vector75
{
width:28.87714195251465px;
height:13.329872131347656px;
left:845.14px;
top:535.36px;
width:28.87714195251465px;
height:13.329872131347656px;
position:absolute;
}
.group57
{
width:21.338245391845703px;
height:15.495055198669434px;
left:851.33px;
top:541.38px;
position:absolute;
}
.vector76
{
width:21.338245391845703px;
height:15.495055198669434px;
left:851.33px;
top:541.38px;
width:21.338245391845703px;
height:15.495055198669434px;
position:absolute;
}
.group58
{
width:13.799458503723145px;
height:15.703688621520996px;
left:857.74px;
top:545.9px;
position:absolute;
}
.vector77
{
width:13.799458503723145px;
height:15.703688621520996px;
left:857.74px;
top:545.9px;
width:13.799458503723145px;
height:15.703688621520996px;
position:absolute;
}
.group59
{
width:33.75517272949219px;
height:32.86826705932617px;
left:887.14px;
top:465.19px;
position:absolute;
}
.vector78
{
width:33.75517272949219px;
height:32.86826705932617px;
left:887.14px;
top:465.19px;
width:33.75517272949219px;
height:32.86826705932617px;
position:absolute;
}
.group60
{
width:36.520259857177734px;
height:23.138174057006836px;
left:883.49px;
top:484.05px;
position:absolute;
}
.vector79
{
width:36.520259857177734px;
height:23.138174057006836px;
left:883.49px;
top:484.05px;
width:36.520259857177734px;
height:23.138174057006836px;
position:absolute;
}
.group61
{
width:37.90281677246094px;
height:19.042715072631836px;
left:879.11px;
top:500.92px;
position:absolute;
}
.vector80
{
width:37.90281677246094px;
height:19.042715072631836px;
left:879.11px;
top:500.92px;
width:37.90281677246094px;
height:19.042715072631836px;
position:absolute;
}
.group62
{
width:34.43341827392578px;
height:15.729782104492188px;
left:876.4px;
top:513.97px;
position:absolute;
}
.vector81
{
width:34.43341827392578px;
height:15.729782104492188px;
left:876.4px;
top:513.97px;
width:34.43341827392578px;
height:15.729782104492188px;
position:absolute;
}
.group63
{
width:42.23310470581055px;
height:14.928946495056152px;
left:874.6px;
top:521.67px;
position:absolute;
}
.vector82
{
width:42.23310470581055px;
height:14.928946495056152px;
left:874.6px;
top:521.67px;
width:42.23310470581055px;
height:14.928946495056152px;
position:absolute;
}
.group64
{
width:28.720596313476562px;
height:6.07138729095459px;
left:874.2px;
top:537.77px;
position:absolute;
}
.vector83
{
width:28.720596313476562px;
height:6.07138729095459px;
left:874.2px;
top:537.77px;
width:28.720596313476562px;
height:6.07138729095459px;
position:absolute;
}
.group65
{
width:20.37308692932129px;
height:21.051353454589844px;
left:873.13px;
top:541.3px;
position:absolute;
}
.vector84
{
width:20.37308692932129px;
height:21.051353454589844px;
left:873.13px;
top:541.3px;
width:20.37308692932129px;
height:21.051353454589844px;
position:absolute;
}
.group66
{
width:12.500373840332031px;
height:28.120637893676758px;
left:872.3px;
top:544.51px;
position:absolute;
}
.vector85
{
width:12.500373840332031px;
height:28.120637893676758px;
left:872.3px;
top:544.51px;
width:12.500373840332031px;
height:28.120637893676758px;
position:absolute;
}
.group67
{
width:71.11441802978516px;
height:122.71141815185547px;
top:-162px;
left:-473px;
position:absolute;
}
.group68
{
width:26.06711196899414px;
height:96.61894989013672px;
left:704.45px;
top:485.83px;
position:absolute;
}
.vector86
{
width:26.06711196899414px;
height:96.61894989013672px;
left:704.45px;
top:485.83px;
width:26.06711196899414px;
height:96.61894989013672px;
position:absolute;
}
.group69
{
width:12.913849830627441px;
height:27.885833740234375px;
left:692.36px;
top:459.73px;
position:absolute;
}
.vector87
{
width:12.913849830627441px;
height:27.885833740234375px;
left:692.36px;
top:459.73px;
width:12.913849830627441px;
height:27.885833740234375px;
position:absolute;
}
.group70
{
width:6.647716522216797px;
height:30.885704040527344px;
left:708.19px;
top:468.5px;
position:absolute;
}
.vector88
{
width:6.647716522216797px;
height:30.885704040527344px;
left:708.19px;
top:468.5px;
width:6.647716522216797px;
height:30.885704040527344px;
position:absolute;
}
.group71
{
width:31.489906311035156px;
height:11.689922332763672px;
left:680.02px;
top:487.59px;
position:absolute;
}
.vector89
{
width:31.489906311035156px;
height:11.689922332763672px;
left:680.02px;
top:487.59px;
width:31.489906311035156px;
height:11.689922332763672px;
position:absolute;
}
.group72
{
width:29.946622848510742px;
height:8.636795043945312px;
left:686.13px;
top:502px;
position:absolute;
}
.vector90
{
width:29.946622848510742px;
height:8.636795043945312px;
left:686.13px;
top:502px;
width:29.946622848510742px;
height:8.636795043945312px;
position:absolute;
}
.group73
{
width:36.13438034057617px;
height:8.399624824523926px;
left:686.46px;
top:513.59px;
position:absolute;
}
.vector91
{
width:36.13438034057617px;
height:8.399624824523926px;
left:-686.46px;
top:513.59px;
width:36.13438034057617px;
height:8.399624824523926px;
position:absolute;
}
.group74
{
width:21.85999298095703px;
height:27.390209197998047px;
left:722.49px;
top:494.35px;
position:absolute;
}
.vector92
{
width:21.85999298095703px;
height:27.390209197998047px;
left:722.49px;
top:494.35px;
width:21.85999298095703px;
height:27.390209197998047px;
position:absolute;
}
.group75
{
width:13.649155616760254px;
height:28.564054489135742px;
left:716.46px;
top:481.12px;
position:absolute;
}
.vector93
{
width:13.649155616760254px;
height:28.564054489135742px;
left:716.46px;
top:481.12px;
width:13.649155616760254px;
height:28.564054489135742px;
position:absolute;
}
.group76
{
width:33.83344650268555px;
height:12.08000373840332px;
left:694.6px;
top:532.1px;
position:absolute;
}
.vector94
{
width:33.83344650268555px;
height:12.08000373840332px;
left:694.6px;
top:532.1px;
width:33.83344650268555px;
height:12.08000373840332px;
position:absolute;
}
.group77
{
width:20.01903533935547px;
height:30.390100479125977px;
left:728.12px;
top:514.33px;
position:absolute;
}
.vector95
{
width:20.01903533935547px;
height:30.390100479125977px;
left:728.12px;
top:514.33px;
width:20.01903533935547px;
height:30.390100479125977px;
position:absolute;
}
.group78
{
width:29.094566345214844px;
height:12.890477180480957px;
left:700.88px;
top:548.06px;
position:absolute;
}
.vector96
{
width:29.094566345214844px;
height:12.890477180480957px;
left:700.88px;
top:548.06px;
width:29.094566345214844px;
height:12.890477180480957px;
position:absolute;
}
.group79
{
width:21.49480628967285px;
height:20.894834518432617px;
left:729.64px;
top:540.76px;
position:absolute;
}
.vector97
{
width:21.49480628967285px;
height:20.894834518432617px;
left:729.64px;
top:540.76px;
width:21.49480628967285px;
height:20.894834518432617px;
position:absolute;
}
.group80
{
width:126.2811508178711px;
height:135.67222595214844px;
top:-168px;
left:-445px;
position:absolute;
}
.group81
{
width:54.94551086425781px;
height:95.92192840576172px;
left:614.32px;
top:502.27px;
position:absolute;
}
.vector98
{
width:54.94551086425781px;
height:95.92192840576172px;
left:614.32px;
top:502.27px;
width:54.94551086425781px;
height:95.92192840576172px;
position:absolute;
}
.group82
{
width:59.032432556152344px;
height:38.26804733276367px;
left:557.1px;
top:466.18px;
position:absolute;
}
.vector99
{
width:59.032432556152344px;
height:38.26804733276367px;
left:557.1px;
top:466.18px;
width:59.032432556152344px;
height:38.26804733276367px;
position:absolute;
}
.group83
{
width:67.19731140136719px;
height:16.277626037597656px;
left:567.04px;
top:501px;
position:absolute;
}
.vector100
{
width:67.19731140136719px;
height:16.277626037597656px;
left:567.04px;
top:501px;
width:67.19731140136719px;
height:16.277626037597656px;
position:absolute;
}
.group84
{
width:69.85808563232422px;
height:27.294137954711914px;
left:590.13px;
top:523.74px;
position:absolute;
}
.vector101
{
width:69.85808563232422px;
height:27.294137954711914px;
left:590.13px;
top:523.74px;
width:69.85808563232422px;
height:27.294137954711914px;
position:absolute;
}
.group85
{
width:58.51068878173828px;
height:32.55525207519531px;
left:606.77px;
top:541.38px;
position:absolute;
}
.vector102
{
width:58.51068878173828px;
height:32.55525207519531px;
left:606.77px;
top:541.38px;
width:58.51068878173828px;
height:32.55525207519531px;
position:absolute;
}
.group86
{
width:28.65812110900879px;
height:57.154258728027344px;
left:609.65px;
top:462.52px;
position:absolute;
}
.vector103
{
width:28.65812110900879px;
height:57.154258728027344px;
left:609.65px;
top:462.52px;
width:28.65812110900879px;
height:57.154258728027344px;
position:absolute;
}
.group87
{
width:13.08535099029541px;
height:70.0667953491211px;
left:642px;
top:467px;
position:absolute;
}
.vector104
{
width:13.08535099029541px;
height:70.0667953491211px;
left:641.23px;
top:465.58px;
width:13.08535099029541px;
height:70.0667953491211px;
position:absolute;
}
.group88
{
width:8.207662582397461px;
height:61.79755783081055px;
left:661.69px;
top:500.09px;
position:absolute;
}
.vector105
{
width:8.207662582397461px;
height:61.79755783081055px;
left:661.69px;
top:500.09px;
width:8.207662582397461px;
height:61.79755783081055px;
position:absolute;
}
.group89
{
width:17.294906616210938px;
height:55.82386016845703px;
left:666.09px;
top:529.9px;
position:absolute;
}
.vector106
{
width:17.294906616210938px;
height:55.82386016845703px;
left:666.09px;
top:529.9px;
width:17.294906616210938px;
height:55.82386016845703px;
position:absolute;
}
.group90
{
width:0.7433291077613831px;
height:0.7825480699539185px;
left:1045.5px;
top:520.75px;
position:absolute;
}
.vector107
{
width:0.7433291077613831px;
height:0.7825480699539185px;
left:1045.5px;
top:520.75px;
width:0.7433291077613831px;
height:0.7825480699539185px;
position:absolute;
}
.vector108
{
width:378.27197265625px;
height:34.329063415527344px;
left:80px;
top:420.96px;
position:absolute;
}
.vector109
{
width:290.9117736816406px;
height:30.02728271484375px;
left:122px;
top:423.04px;
position:absolute;
}
.group91
{
width:267.207763671875px;
height:243.96241760253906px;
top:-159.1px;
left:-523px;
position:absolute;
}
.vector110
{
width:113.40155792236328px;
height:74.66416931152344px;
left:696.76px;
top:362.32px;
position:absolute;
}
.vector111
{
width:54.85866928100586px;
height:60.93864822387695px;
left:754.13px;
top:376.05px;
position:absolute;
}
.vector112
{
width:14.324766159057617px;
height:10.903204917907715px;
left:690.58px;
top:388.36px;
position:absolute;
}
.vector113
{
width:30.1590576171875px;
height:24.149044036865234px;
left:690.58px;
top:375.12px;
position:absolute;
}
.vector114
{
width:67.31428527832031px;
height:58.09519958496094px;
left:716.3px;
top:409.58px;
position:absolute;
}
.vector115
{
width:38.648258209228516px;
height:24.251413345336914px;
left:710.03px;
top:432.85px;
position:absolute;
}
.vector116
{
width:68.85847473144531px;
height:46.11474609375px;
left:710.06px;
top:433.96px;
position:absolute;
}
.vector117
{
width:28.63615608215332px;
height:23.349885940551758px;
left:735.83px;
top:476.14px;
position:absolute;
}
.vector118
{
width:64.5887222290039px;
height:55.458648681640625px;
left:714.32px;
top:438.76px;
position:absolute;
}
.group92
{
width:12.05695915222168px;
height:18.09027099609375px;
left:745.45px;
top:432.07px;
position:absolute;
}
.vector119
{
width:12.05695915222168px;
height:18.09027099609375px;
left:745.45px;
top:432.07px;
width:12.05695915222168px;
height:18.09027099609375px;
position:absolute;
}
.vector120
{
width:6.665979385375977px;
height:8.899856567382812px;
left:748.26px;
top:437.17px;
width:6.665979385375977px;
height:8.899856567382812px;
position:absolute;
}
.vector121
{
width:82.01589965820312px;
height:104.87248992919922px;
left:770.17px;
top:428.05px;
position:absolute;
}
.vector122
{
width:152.84971618652344px;
height:102.50267028808594px;
left:772.75px;
top:502.36px;
position:absolute;
}
.vector123
{
width:166.92764282226562px;
height:186.2852020263672px;
left:658.5px;
top:414.54px;
position:absolute;
}
.vector124
{
width:55.276031494140625px;
height:70.3797836303711px;
left:791.22px;
top:432.89px;
position:absolute;
}
.vector125
{
width:158.13284301757812px;
height:107.51570129394531px;
left:665.02px;
top:493.31px;
position:absolute;
}
.vector126
{
width:53.63262176513672px;
height:15.690362930297852px;
left:798.71px;
top:507.94px;
position:absolute;
}
.vector127
{
width:51.31100082397461px;
height:30.598758697509766px;
left:795.19px;
top:472.67px;
position:absolute;
}
.vector128
{
width:148.27235412597656px;
height:63.99503707885742px;
left:671.52px;
top:536.82px;
position:absolute;
}
.vector129
{
width:152.8487091064453px;
height:96.26815032958984px;
left:772.75px;
top:508.59px;
position:absolute;
}
.vector130
{
width:53.658660888671875px;
height:11.852982521057129px;
left:798.71px;
top:507.97px;
position:absolute;
}
.vector131
{
width:18.182048797607422px;
height:142.54953002929688px;
left:658.39px;
top:414.64px;
position:absolute;
}
.vector132
{
width:23.842540740966797px;
height:36.91159439086914px;
left:754.23px;
top:412.75px;
position:absolute;
}
.vector133
{
width:146.43214416503906px;
height:89.71004486083984px;
left:659.48px;
top:360.9px;
position:absolute;
}
.vector134
{
width:80.80606842041016px;
height:58.932098388671875px;
left:687.77px;
top:378.76px;
position:absolute;
}
.vector135
{
width:11.828866958618164px;
height:35.19523239135742px;
left:803.67px;
top:432.03px;
position:absolute;
}
.vector136
{
width:133.74093627929688px;
height:129.20413208007812px;
left:701.01px;
top:444.41px;
position:absolute;
}
.vector137
{
width:33.4774055480957px;
height:27.016197204589844px;
left:818.68px;
top:532.15px;
position:absolute;
}
.vector138
{
width:147.6498260498047px;
height:29.46214485168457px;
left:777.95px;
top:575.4px;
position:absolute;
}
.vector139
{
width:17.922924041748047px;
height:18.610523223876953px;
left:697.63px;
top:375.47px;
position:absolute;
}
.vector140
{
width:30.943511962890625px;
height:22.599945068359375px;
left:715.86px;
top:366.51px;
position:absolute;
}
.vector141
{
width:24.629627227783203px;
height:20.887229919433594px;
left:664.94px;
top:407.03px;
position:absolute;
}
.vector142
{
width:35.84774398803711px;
height:10.300169944763184px;
left:761.95px;
top:364.39px;
position:absolute;
}
.vector143
{
width:33.77959060668945px;
height:69.97564697265625px;
left:765.12px;
top:391.64px;
position:absolute;
}
.vector144
{
width:14.388010025024414px;
height:22.921785354614258px;
left:666.81px;
top:458.72px;
position:absolute;
}
.vector145
{
width:63.73725891113281px;
height:19.47245216369629px;
left:692.79px;
top:569.55px;
position:absolute;
}
.vector146
{
width:19.015769958496094px;
height:76.98258972167969px;
left:673.84px;
top:501.83px;
position:absolute;
}
.vector147
{
width:118.18882751464844px;
height:37.10211181640625px;
left:785.96px;
top:558.1px;
position:absolute;
}
.vector148
{
width:32.220550537109375px;
height:67.14656066894531px;
left:813.49px;
top:452.65px;
position:absolute;
}
.vector149
{
width:33.129119873046875px;
height:19.616655349731445px;
left:755.33px;
top:581.16px;
position:absolute;
}
.vector150
{
width:18.47873306274414px;
height:31.044269561767578px;
/* left:712.54px; */
/* top:300.09px; */
position:absolute;
}
.vector151
{
width:10.016962051391602px;
height:17.00799560546875px;
left:232px;
top:157px;
position:absolute;
}
.vector152
{
width:10.016989707946777px;
height:17.008010864257812px;
left:29px;
top:390.51px;
position:absolute;
}
.vector153
{
width:17.451473236083984px;
height:29.63359832763672px;
/* left:906.45px; */
left:2px;
top:174.24px;
position:absolute;
}
.vector154
{
width:23.999048233032227px;
height:40.720115661621094px;
left:421px;
top:131.11px;
position:absolute;
}
.vector155
{
width:23.97296142578125px;
height:40.72012710571289px;
left:454.49px;
top:274.45px;
position:absolute;
}
.vector156
{
width:23.97296714782715px;
height:40.72012710571289px;
/* left:978.03px; */
top:296.46px;
position:absolute;
}
.vector157
{
width:23.97296142578125px;
height:40.72012710571289px;
left:345.29px;
top:220.1px;
position:absolute;
}
.vector158
{
width:23.97301483154297px;
height:40.72012710571289px;
left:126px;
top:156px;
position:absolute;
}
.vector159 {
    width: 52.451525px;
    height: 41.607529px;
    left: 303px;
    top: 43.16px;
    position: absolute;
}
.vector160
{
width:11.790870666503906px;
height:20.00790786743164px;
left: 337px;
top: 160.5px;
position:absolute;
}
.group93
{
width:7.920441150665283px;
height:21.635263442993164px;
top:249.83px;
left:627.53px;
position:absolute;
}
.group94
{
width:7.920441150665283px;
height:21.635263442993164px;
left:-554px;
top:-160px;
position:absolute;
}
.vector161
{
width:7.920441150665283px;
height:21.635263442993164px;
left:627.53px;
top:249.83px;
width:7.920441150665283px;
height:21.635263442993164px;
position:absolute;
}
.group95
{
width:10.851699829101562px;
height:20.200834274291992px;
top:162.61px;
left:992.5px;
position:absolute;
}
.group96
{
width:10.851699829101562px;
height:20.200834274291992px;
left: -557px;
top: -108px;
position:absolute;
}
.vector162
{
width:10.851699829101562px;
height:20.200834274291992px;
left:992.5px;
top:162.61px;
width:10.851699829101562px;
height:20.200834274291992px;
position:absolute;
}

